# Python - compiled files and logs
__pycache__/
*.py[cod]
*.log

# Environments and dependencies
.venv/
env/
venv/
node_modules/

# Sensitive data and Local Configs
.env
*.env
manager/.env
agent/.env


# IDE specific files
.vscode/
.idea/
.DS_Store